# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# static folder
concours/media/static/*

# docs temp files
docs/_build/*

# media files
antoine/media/link_pictures/*
antoine/media/photo_pictures/*
antoine/media/cache/*
